# NS Web y Rrss

In [55]:
import os
import re
import pandas_gbq
import datetime as dt
from datetime import datetime, timedelta
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas as pd
from google.cloud import bigquery

In [56]:
usuario = 'JCORREDOR'
json = rf'C:\Users\JCORREDOR\Falabella\Planificación CX - Documentos\Planificación y Control\Scripts Planning\Json\bi-fcom-drmb-cx-sbx-53ef4ecfd219 1.json'

In [57]:
project_id = 'bi-fcom-drmb-cx-sbx'

credentials = service_account.Credentials.from_service_account_file(json)
client = bigquery.Client(credentials=credentials, project=project_id)


project_id = 'bi-fcom-drmb-cx-sbx'
dataset_id = 'cx_csr_data'

table_name = 'tbl_ns_web_sf_Linio'

query = "SELECT * FROM `{}.{}.{}`".format(project_id, dataset_id, table_name)

df_full = pandas_gbq.read_gbq(query, project_id=project_id, dialect='standard')

df_full

Downloading: 100%|██████████|

,Country,CaseNumber,Channel,DateCreated,DateClosed,ReOpenings,Commerce_Name,id,Level_1,CRM
0,PE,14522620,Web,2023-04-09,2023-04-17,0,Linio,0054W00000D6WJ7QAN,Reclamo,SF
1,PE,14521976,Web,2023-04-09,2023-04-14,0,Linio,0054W00000D6WJ7QAN,Reclamo,SF
2,PE,14522921,Web,2023-04-09,2023-04-14,0,Linio,0054W00000D6WJ7QAN,Reclamo,SF
3,PE,14528237,Web,2023-04-09,2023-04-17,0,Linio,0054W00000D6WJ7QAN,Reclamo,SF
4,PE,14527879,Web,2023-04-09,2023-04-10,0,Linio,0054W00000D6WJ7QAN,Consulta,SF
...,...,...,...,...,...,...,...,...,...,...
82490,MX,8477218,Web,2023-04-08,2023-04-10,1,Linio,,2.5 Caso duplicado,ORO
82491,MX,8477163,Web,2023-04-08,2023-04-10,0,Linio,,2.5 Caso duplicado,ORO
82492,CO,8477062,Web,2023-04-08,2023-04-29,0,Linio,,2.5 Caso duplicado,ORO
82493,CO,8477503,Web,2023-04-08,2023-04-10,1,Linio,,1.6 Respuesta automática,ORO
82494,CO,8476959,Web,2023-04-08,2023-04-08,1,Linio,,1.6 Respuesta automática,ORO

# Nuevo df

In [58]:
fechas = list(df_full['DateCreated'].unique())
df = pd.DataFrame(fechas, index=range(len(fechas)),columns=['Fecha'])
df['Fecha'] = df['Fecha'].apply(lambda x: x.strftime("%Y-%m-%d"))
df['Fecha_def'] = df_full['DateCreated'].unique()
df['Año-Mes'] = df['Fecha'].str.slice(0, 7)
df['Año-Mes'] = df['Año-Mes'].apply(lambda x: x.replace("-",""))
df

          Fecha   Fecha_def Año-Mes
0    2023-04-09  2023-04-09  202304
1    2023-04-10  2023-04-10  202304
2    2023-04-11  2023-04-11  202304
3    2023-04-12  2023-04-12  202304
4    2023-04-13  2023-04-13  202304
..          ...         ...     ...
312  2023-04-04  2023-04-04  202304
313  2023-04-05  2023-04-05  202304
314  2023-04-06  2023-04-06  202304
315  2023-04-07  2023-04-07  202304
316  2023-04-08  2023-04-08  202304

[317 rows x 3 columns]

In [62]:
df['Weekday'] = df['Fecha_def'].apply(lambda x: x.isoweekday())
df['Week'] = df['Fecha_def'].apply(lambda x: x.isocalendar()[1])
df

          Fecha   Fecha_def Año-Mes  Weekday  Week
0    2023-04-09  2023-04-09  202304        7    14
1    2023-04-10  2023-04-10  202304        1    15
2    2023-04-11  2023-04-11  202304        2    15
3    2023-04-12  2023-04-12  202304        3    15
4    2023-04-13  2023-04-13  202304        4    15
..          ...         ...     ...      ...   ...
312  2023-04-04  2023-04-04  202304        2    14
313  2023-04-05  2023-04-05  202304        3    14
314  2023-04-06  2023-04-06  202304        4    14
315  2023-04-07  2023-04-07  202304        5    14
316  2023-04-08  2023-04-08  202304        6    14

[317 rows x 5 columns]